openapi: 3.0.0
info:
  title: Trackier Admin API Docs
  version: v2
  description: |
    # Introduction
    The Trackier API is designed for developers, engineers, or anyone else who’s comfortable creating custom-coded solutions or integrating with RESTful APIs.
    Base URL
      <li>URL : https://api.trackier.com</li>
      <li>Description : Main server</li>

    # HTTP Status Code
    Review all global errors for the Trackier API so you can get back to work fast. <hr><b>401 - API Key Invalid</b> <br>Your API key may be invalid, or you’ve attempted to access the wrong data center. <br>The current request requires user authentication. For example, the user does not have the necessary credentials. <hr><b>403 - No permissions visit this resource</b> <br>You are not permitted to access this resource. <br>The request was a valid request, but the server is refusing to respond to it. For example, the user does not have the necessary permissions for the resource. <hr><b>404 - Resource Not Found</b> <br>The requested resource could not be found. <br>This error tells you a specific resource doesn’t exist. It’s possible that the resource has been moved or deleted, or that there’s a typo in your request.<hr><b>500 - Server error, Please contact administrator</b> <br>A generic error message, given when an unexpected condition was encountered and no more specific message is suitable.Please contact Support for more information. <br>This error lets you know our servers have experienced a problem. Although this is rare, please contact support@trackier.com to let us know that you’ve encountered this error

    # Authentication
    Trackier API endpoints can be authenticated via:
      - Header: x-api-key
      - Query Param: ?apiKey=
  termsOfService: 'https://trackier.com/terms-of-service/'
  contact:
    name: API Support
    email: support@trackier.com
  x-logo:
    url: 'https://trackier.com/blog/wp-content/uploads/2019/02/dark-logo.png'
servers:
  - url: 'https://api.trackier.com'
paths:
  /v2/offers/incent:
    get:
      summary: Find all incent offers
      operationId: get-v2-incent-offers
      tags:
        - Incent Offers
      parameters:
        - schema:
            type: integer
          in: query
          name: page
          description: Page Number
        - schema:
            type: integer
          in: query
          name: limit
          description: limit
        - schema:
            oneOf:
              - type: integer
              - type: string
          in: query
          name: pubId
          description: Publisher Id or Hash Id
          required: true
        - schema:
            type: string
          in: query
          name: source
          description: Source
          required: true
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: order
          description: Order By
        - schema:
            type: string
            enum:
              - payout
              - id
          in: query
          name: sortBy
          description: Sort By
        - schema:
            type: object
            properties:
              geo:
                type: array
                items:
                  type: string
                description: Two Letter Country ISO Code in Blocks
              objective:
                type: array
                items:
                  type: string
                  enum:
                    - cpi
                    - cpa
                    - cpc
                    - cps
                    - cpm
                    - cpl
          in: query
          name: filters
          description: Filters
      description: |-
        #### Note: This API endpoint requires a feature to be enable in your account. Please contact your account manager for more info.
        Find All Incent Offers
        - &filters[objective][]=cpi&filters[objective][]=cpa
        - &filters[geo][]=IN&filters[geo][]=US
      security:
        - API Key Param: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  campaigns:
                    type: array
                    items:
                      $ref: ./models/incent-offer.v1.yaml
                  page:
                    type: integer
                  limit:
                    type: integer
                  total:
                    type: integer
                  count:
                    type: integer
                  availableFilters:
                    type: object
                    properties:
                      geo:
                        type: array
                        items:
                          type: string
                      objective:
                        type: array
                        items:
                          type: string
                          enum:
                            - cpi
                            - cpa
                            - cpc
                            - cps
                            - cpm
                            - cpl
                  appliedFilters:
                    type: object
                    properties:
                      geo:
                        type: array
                        items:
                          type: string
                      objective:
                        type: array
                        items:
                          type: string
                          enum:
                            - cpi
                            - cpa
                            - cpc
                            - cps
                            - cpm
                            - cpl
              examples:
                example-1:
                  value:
                    success: true
                    campaigns:
                      - id: 2099
                        hashId: 63da0749cd195814190b6163
                        title: AmericanSolarQuotes - US - 90% Rev Share
                        description: "AmericanSolarQuotes&lt;br /&gt;&lt;br /&gt;\r\nPayable action: Valid quote&lt;br /&gt;&lt;br /&gt;\r\nTerms: US, 18+, non-incent&lt;br /&gt;&lt;br /&gt;\r\nSend times: Monday - Friday (no weekend activity)\r\n<br /><br />From:<br />- Home Eco Grants<br /><br />Subject:<br />- Save up to 80% on your energy bills with a free Solar Panels Grant<br />- Instant Eligibility Calculator for Government-Funded Solar Panels<br />- Check if your property qualifies for a free government energy efficiency grant!<br />- Get Free Solar Panels through government funding!"
                        currency: USD
                        previewUrl: 'https://solar.americahomequotes.com/'
                        model: cpa
                        device:
                          - all
                        flow: []
                        os:
                          - all
                        osVer: {}
                        appId: idsa13442
                        appName: app.trackier.com
                        categories: []
                        goals:
                          - id: 63e3dfd379a7cc7cbf135e6d
                            title: TEST GOAL
                            value: test_goal
                            payouts:
                              - goalId: 63e3dfd379a7cc7cbf135e6d
                                revenue: 3.03
                                payout: 1.515
                                coverage:
                                  - ALL
                                payoutType: percentage
                          - id: 63e3e0cd5a937e373d2f8467
                            title: test pub specific
                            value: test_pub_specific
                            payouts:
                              - goalId: 63e3e0cd5a937e373d2f8467
                                revenue: 2
                                payout: 1
                                coverage:
                                  - ALL
                                payoutType: fixed
                          - id: 63e3e6ef5a937e373d2f846b
                            title: test goal two payout
                            value: test goal two payout
                            payouts:
                              - goalId: 63e3e6ef5a937e373d2f846b
                                revenue: 2
                                payout: 1
                                coverage:
                                  - ALL
                                payoutType: fixed
                              - goalId: 63e3e6ef5a937e373d2f846b
                                revenue: 20
                                payout: 10
                                coverage:
                                  - IN
                                payoutType: fixed
                        subIdsBlocked: []
                        subIdsAllowed: []
                        countries:
                          - US
                        isps:
                          - all
                        citiesInclude: []
                        citiesExclude: []
                        defaultGoal: Default
                        creatives:
                          - fileName: email_63da07493ac06.html
                            dimensions: []
                            mimeType: text/html
                            title: AmericanSolarQuotes - US - 90% Rev Share
                            fullUrl: 'https://static.vnative.co/images/email_63da07493ac06.html'
                            description: "Save up to 80% on your energy bills with a free Solar Panels Grant\r\nInstant Eligibility Calculator for Government-Funded Solar Panels\r\nCheck if your property qualifies for a free government energy efficiency grant!\r\nGet Free Solar Panels through government funding!\r\n"
                        payouts:
                          - payout: 63
                            revenue: 70
                            coverage:
                              - US
                            city: []
                            region: []
                            payoutType: percentage
                        trackingLink: 'https://mpro.gotrackier.com/click?campaign_id=2099&pub_id=5&source=hellp'
                        impressionUrl: 'https://mpro.gotrackier.com/imp?campaign_id=2099&pub_id=5&source=hellp'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
  /v2/publishers:
    get:
      summary: Find all publishers
      tags:
        - Manage Publishers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  publishers:
                    type: array
                    items:
                      $ref: ./models/publisher.v1.yaml
                  lastId:
                    type: integer
                  pagination:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      perPage:
                        type: integer
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: get-v2-publishers
      description: |-
        Find all publishers

        To find publishers using name,email,company or ids use filters param
        - &filters[name]=Demo
        - &filters[company]=Test
        - &filters[ids][]=31&filters[ids][]=54
      security:
        - API Key Param: []
      parameters:
        - schema:
            type: integer
          in: query
          name: lastId
          description: Last publisher id
        - schema:
            type: array
          in: query
          name: filters
        - schema:
            type: integer
          in: query
          name: limit
          description: 'Limit the number of records (default: 5000)'
    post:
      summary: Create a new publisher
      operationId: post-v2-publishers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  publisher:
                    $ref: ./models/publisher.v1.yaml
          headers: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Manage Publishers
      description: Create a new publisher
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
        description: schema to create a publisher
  '/v2/publishers/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Find Publisher by ID
      tags:
        - Manage Publishers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  publisher:
                    $ref: ./models/publisher.v1.yaml
              examples:
                example-1:
                  value:
                    publisher:
                      region:
                        currency: USD
                        zone: Asia/Kolkata
                        lang: en
                        address: D-96 Flat no -112 5th Floor Munirika Village
                        city: New Delhi
                        zipcode: '110067'
                        country: IN
                      meta:
                        bank:
                          name: ''
                          ifsc: ''
                          account_no: ''
                          account_owner: ''
                      tags:
                        - top publisher
                        - demo account
                      name: test pub
                      email: support@trackier.com
                      country: IN
                      currency: INR
                      created: '2016-09-19T18:30:00.000Z'
                      modified: '2019-12-13T05:06:32.406Z'
                      username: '#PiedPiper'
                      phone: '8811576958'
                      login: '2017-10-28T06:27:06.000Z'
                      login_attempts: 1
                      ref_by: 5ed39c0a6e827f70122891b1
                      manager_id: 5d25b773b6920d39cf195611
                      tier_id: 594400fa17c452060005e362
                      status: active
                      unsubscribe: false
                      signup_ip: 1.1.1.1
                      company: Pied piper
                      is_demo: false
                      macro:
                        source: '{aff_id}'
                        p1: '{transaction_id}'
                        p8: '{aff_sub8}'
                        p9: '{aff_sub9}'
                        p10: '{aff_sub10}'
                      hashId: 57c6c75934243d930c8b4581
                      id: 2
                      whitelistAdv: []
                      blockedSources:
                        - hemant_testing
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: publisher-findById
      description: Get a single publisher
      parameters: []
      security:
        - API Key Param: []
    delete:
      summary: Delete a publisher
      operationId: publisher-delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    success: true
                    message: Publisher Removed!
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      description: Delete a publisher with given ID
      parameters: []
      tags:
        - Manage Publishers
      security:
        - API Key Param: []
    post:
      summary: Edit a publisher
      operationId: publisher-edit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  publisher:
                    $ref: ./models/publisher.v1.yaml
              examples:
                example-1:
                  value:
                    publisher:
                      region:
                        currency: USD
                        zone: Asia/Kolkata
                        lang: en
                        address: D-96 Flat no -112 5th Floor Munirika Village
                        city: New Delhi
                        zipcode: '110067'
                        country: IN
                      meta:
                        bank:
                          name: ''
                          ifsc: ''
                          account_no: ''
                          account_owner: ''
                        payout:
                          paypal: ''
                          payquicker: ''
                          payoneer: ''
                          paytm: alb_magji@hotmail.uk
                          mobicash: ''
                          easypaisa: ''
                        tdomain: []
                      tags:
                        - top publisher
                        - demo account
                      name: Pied Piper
                      email: subhomoy@trackier.com
                      country: IN
                      currency: INR
                      created: '2016-09-19T18:30:00.000Z'
                      modified: '2019-12-13T05:06:32.406Z'
                      username: '#PiedPiper'
                      phone: '8811576958'
                      login: '2017-10-28T06:27:06.000Z'
                      login_attempts: 1
                      ref_by: 5ed39c2d6e827f70122891b4
                      manager_id: 5d25b773b6920d39cf195611
                      tier_id: 594400fa17c452060005e362
                      status: active
                      unsubscribe: false
                      signup_ip: 1.1.1.1
                      company: Pied piper
                      is_demo: false
                      macro:
                        source: '{aff_id}'
                        p1: '{transaction_id}'
                        p8: '{aff_sub8}'
                        p9: '{aff_sub9}'
                        p10: '{aff_sub10}'
                      hashId: 57c6c75934243d930c8b4581
                      id: 2
                      whitelistAdv: []
                      blockedSources:
                        - hemant_testing
      description: Edit a publisher
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEdit'
            examples:
              example-1:
                value:
                  username: string
                  name: string
                  email: user@example.com
                  password: string
                  company: string
                  phone: string
                  status: active
                  region:
                    lang: string
                    currency: string
                    country: string
                    address: string
                    city: string
                    state: string
                    zipcode: string
                  ref_by: string
                  customFields:
                    pan: string
                    skype_id: string
                    website: string
                  bank:
                    name: string
                    ifsc: string
                    account_no: string
                    account_owner: string
                  tags:
                    - string
          application/xml:
            schema:
              type: object
              properties: {}
        description: Properties to be sent in request
      tags:
        - Manage Publishers
      security:
        - API Key Param: []
  '/v2/publishers/{publisherId}/subaccounts':
    parameters:
      - schema:
          type: string
        name: publisherId
        in: path
        description: Publisher ID in numeric or hash id format
        required: true
    get:
      summary: Get All Sub Accounts of Publisher
      operationId: get-v2-publisher-subaccount
      tags:
        - Manage Publishers
      security:
        - API Key Param: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subaccounts:
                    type: array
                    items:
                      $ref: ./models/subaccount.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
    post:
      summary: Create Sub Account for Publisher
      operationId: post-v2-publisher-subaccount
      tags:
        - Manage Publishers
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/SubAccountCreate'
        description: Schema To Create a Sub Account For Publisher
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  subaccount:
                    $ref: ./models/subaccount.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
  '/v2/publishers/{publisherId}/subaccounts/{id}':
    parameters:
      - schema:
          type: string
        name: publisherId
        in: path
        description: Publisher ID in numeric or hash id format
        required: true
      - schema:
          type: string
        name: id
        in: path
        description: Sub Account ID in numeric or hash id format
        required: true
    get:
      summary: Find Sub Account of Publisher By Id
      operationId: publisher-sub-account-findById
      tags:
        - Manage Publishers
      security:
        - API Key Param: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subaccount:
                    $ref: ./models/subaccount.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
    post:
      summary: Edit Sub Account of Publisher
      operationId: publisher-sub-account-edit
      tags:
        - Manage Publishers
      security:
        - API Key Param: []
      requestBody:
        description: Schema To Edit a Sub Account of Publisher
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/SubAccountEdit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  subaccount:
                    $ref: ./models/subaccount.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
    delete:
      summary: Delete Sub Account of Publisher
      operationId: publisher-sub-account-delete
      tags:
        - Manage Publishers
      security:
        - API Key Param: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    success: true
                    message: Sub Account Deleted!
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
  '/v2/advertisers/{advertiserId}/subaccounts':
    parameters:
      - schema:
          type: string
        name: advertiserId
        in: path
        description: Advertiser ID in numeric or hash id format
        required: true
    get:
      summary: Get All Sub Accounts of Advertiser
      operationId: get-v2-advertiser-subaccount
      tags:
        - Manage Advertisers
      security:
        - API Key Param: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subaccounts:
                    type: array
                    items:
                      $ref: ./models/subaccount.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
    post:
      summary: Create Sub Account for Advertiser
      operationId: post-v2-advertiser-subaccount
      tags:
        - Manage Advertisers
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/SubAccountCreate'
        description: Schema To Create a Sub Account For Advertiser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  subaccount:
                    $ref: ./models/subaccount.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
  '/v2/advertisers/{advertiserId}/subaccounts/{id}':
    parameters:
      - schema:
          type: string
        name: advertiserId
        in: path
        description: Advertiser ID in numeric or hash id format
        required: true
      - schema:
          type: string
        name: id
        in: path
        description: Sub Account ID in numeric or hash id format
        required: true
    get:
      summary: Find Sub Account of Advertiser By Id
      operationId: advertiser-sub-account-findById
      tags:
        - Manage Advertisers
      security:
        - API Key Param: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subaccount:
                    $ref: ./models/subaccount.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
    post:
      summary: Edit Sub Account of Advertiser
      operationId: advertiser-sub-account-edit
      tags:
        - Manage Advertisers
      security:
        - API Key Param: []
      requestBody:
        description: Schema To Edit a Sub Account of Advertiser
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/SubAccountEdit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  subaccount:
                    $ref: ./models/subaccount.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
    delete:
      summary: Delete Sub Account of Advertiser
      operationId: advertiser-sub-account-delete
      tags:
        - Manage Advertisers
      security:
        - API Key Param: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
              examples:
                example-1:
                  value:
                    success: true
                    message: Sub Account Deleted!
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
  /v2/advertisers:
    get:
      summary: Find All Advertisers
      tags:
        - Manage Advertisers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  advertisers:
                    type: array
                    items:
                      $ref: ./models/av.v1.yaml
                  lastId:
                    type: integer
                    nullable: true
                  pagination:
                    type: object
                    properties:
                      totalCount:
                        type: integer
                      perPage:
                        type: integer
              examples: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: advertiser-findAll
      description: |-
        Get 1000 advertisers in a single request then to find the next set of results pass the lastId received in the body

        To find advertiser using name,email,company or ids use filters param
        - &filters[name]=Demo
        - &filters[company]=Test
        - &filters[ids][]=31&filters[ids][]=54
      parameters:
        - schema:
            type: string
          in: query
          name: lastId
        - schema:
            type: array
          in: query
          name: filters
          description: Filters param to apply search filter
        - schema:
            type: integer
          in: query
          name: limit
          description: 'Limit the number of records (default: 5000)'
      security:
        - API Key Param: []
    post:
      summary: Create an advertiser
      operationId: advertiser-create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  advertiser:
                    $ref: ./models/av.v1.yaml
              examples: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
          application/xml:
            schema:
              $ref: '#/components/schemas/UserCreate'
        description: ''
      description: Create an advertiser
      tags:
        - Manage Advertisers
      security:
        - API Key Param: []
  '/v2/advertisers/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Find a single advertiser
      tags:
        - Manage Advertisers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  advertiser:
                    $ref: ./models/av.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: advertiser-findOne
      description: Get a single advertiser
      security:
        - API Key Param: []
    post:
      summary: Update an Advertiser
      operationId: advertiser-edit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  advertiser:
                    $ref: ./models/av.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEdit'
            examples: {}
          application/xml:
            schema:
              $ref: '#/components/schemas/UserEdit'
        description: ''
      description: Edit a single advertiser
      tags:
        - Manage Advertisers
      security:
        - API Key Param: []
    delete:
      summary: Delete an Advertiser
      operationId: advertiser-delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      parameters:
        - schema:
            type: string
          in: query
          name: '{id}'
      description: Delete an advertiser
      tags:
        - Manage Advertisers
      security:
        - API Key Param: []
  /v2/login:
    post:
      summary: Basic Login Endpoint
      operationId: login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      key:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                          hashId:
                            type: string
                          name:
                            type: string
                          email:
                            type: string
                          username:
                            type: string
                          company:
                            type: string
                          created:
                            type: string
                          modified:
                            type: string
                      type:
                        type: string
                  success:
                    type: boolean
              examples:
                sample example:
                  value:
                    success: true
                    data:
                      key: xxxxxxxxxxxxxxxxxxxx
                      user:
                        meta:
                          afields:
                            testing: ''
                            country: IN
                        tags: []
                        username: Himanshu Tiwari
                        name: Himanshu Tiwari
                        email: mastionmind@gmail.com
                        region:
                          currency: INR
                          lang: en
                          country: IN
                          address: ''
                          state: ''
                          city: ''
                          zipcode: ''
                        unsubscribe: false
                        is_demo: false
                        macro:
                          p1: '{your-transaction-id}'
                          source: '{your-sub-aff-id}'
                        status: active
                        created: '2020-01-07T11:10:09.000Z'
                        modified: '2020-02-17T11:09:54.243Z'
                        company: Himanshu Tiwari
                        hashId: 5e146711b6920d697c4326dc
                        id: 1302
                        whitelistAdv: []
                        blockedSources: []
                      type: publisher
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      description: Login endpoint
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                networkUrl:
                  type: string
              required:
                - email
                - password
                - networkUrl
            examples:
              basic login example:
                value:
                  password: xxxx
                  email: xxx@gmail.com
                  networkUrl: 'http://demo.trackier.com'
      tags:
        - Network
  /v2/campaigns:
    get:
      summary: Get All Campaigns
      tags:
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaigns:
                    type: array
                    items:
                      $ref: ./models/campaign.v1.yaml
                  lastId:
                    type: integer
                    nullable: true
                required:
                  - campaigns
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: campaigns-findAll
      description: |-
        This endpoint will return the campaigns sorted based on the id. The limit of campaigns returned in one request is 1000. Send the lastId query parameter to fetch more campaigns

        To see campaigns for a particular status use the filters query param

        - &filters[status]=active&filters[objective][]=cpa
        - &filters[category][]=travel&filters[visibility][]=public&filters[device][]=mobile
        - &filters[os][]=android&filters[trafficChannels][]=Channel1
        - &filters[status]=active&advertiser[]=10&orderBy=created&direction=desc
      security:
        - API Key Param: []
      parameters:
        - schema:
            type: integer
          in: query
          name: lastId
        - schema:
            type: string
            enum:
              - created
              - title
          in: query
          name: orderBy
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: direction
          description: 'Sorting Order <br> - `asc` - Ascending, from A to Z <br> - `desc` - Descending, from Z to A'
        - schema:
            type: array
            items:
              type: string
          in: query
          name: advertiser
          description: Advertiser ID in numeric or hash id format
        - schema:
            type: object
            properties:
              status:
                type: string
                enum:
                  - active
                  - pending
                  - paused
                  - disabled
                  - expired
                  - suspended
              geo:
                description: Two letter country iso code or ALL
                type: array
                items:
                  type: string
              objective:
                type: array
                items:
                  type: string
                  enum:
                    - cpa
                    - cpl
                    - cpi
                    - cps
                    - cpc
                    - cpm
              category:
                description: Catergories name
                type: array
                items:
                  type: string
              visibility:
                type: array
                items:
                  type: string
                  enum:
                    - private
                    - permission
                    - public
              device:
                type: array
                items:
                  type: string
                  enum:
                    - desktop
                    - mobile
                    - tablet
              os:
                type: array
                items:
                  type: string
                  enum:
                    - android
                    - ios
                    - windows
                    - macOs
              trafficChannels:
                type: array
                description: Traffic channels name
                items:
                  type: string
          in: query
          name: filters
    post:
      summary: Create Campaign
      operationId: campaign-create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign:
                    $ref: ./models/campaign.v1.yaml
                  payouts:
                    type: array
                    items:
                      $ref: ./models/payout.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      security:
        - API Key Param: []
      tags:
        - Campaigns
      description: Create a new campaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignCreate'
        description: ''
  '/v2/campaigns/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign Id - numeric or hash ID
    get:
      summary: Find Campaign by ID
      tags:
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign:
                    $ref: ./models/campaign.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: campaign-findOne
      security:
        - API Key Param: []
      description: Find a campaign using id
    post:
      summary: Edit a campaign
      operationId: campaign-updateOne
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign:
                    $ref: ./models/campaign.v1.yaml
                  payouts:
                    type: array
                    items:
                      $ref: ./models/payout.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Campaigns
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignEdit'
      description: Edit a campaign
    delete:
      summary: Delete a campaign
      operationId: campaign-deleteOne
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Campaigns
      security:
        - API Key Param: []
      description: Delete a campaign with given id
  '/v2/campaigns/{id}/thumbnail':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign ID (Integer Id or hash ID)
    post:
      summary: Edit Campaign Thumbnail
      operationId: campaign-thumbnail-update
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: file
                  description: jpeg | gif | bmp | png | ico | tif
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Thumbnail was updated!
                  success:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Campaigns
      security:
        - API Key Param: []
      description: Edit thumbnail in a campaign with given id
    delete:
      summary: Delete Campaign Thumbnail
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Thumbnail was removed!
                  success:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Campaigns
      security:
        - API Key Param: []
      description: Delete thumbnail in a campaign with given id
  '/v2/campaigns/{id}/s2s-tracking':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        operationId: campaign-thumbnail-update
        description: Campaign ID (Integer Id or hash ID)
    post:
      summary: Edit Campaign S2S Tracking Setting
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                serverSideClicks:
                  type: integer
                  x-stoplight:
                    id: 3kd4gjs022msm
                  format: int32
                s2sPubSetting:
                  x-stoplight:
                    id: 6q0ohw0y3n7lr
                  enum:
                    - include
                    - exclude
                s2spubs:
                  type: array
                  x-stoplight:
                    id: 7bzt35hte72ja
                  description: |
                    integer id or hash id
                  items:
                    x-stoplight:
                      id: 7xca2iwwkvop4
                    type: string
                s2sRedirectUrl:
                  type: string
                  x-stoplight:
                    id: 9hsiauc0fylc0
                  description: url
              required:
                - serverSideClicks
                - s2sPubSetting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Campaigns
      security:
        - API Key Param: []
      description: ''
      x-stoplight:
        id: adsf21lgqfr50
  '/v2/campaigns/{id}/impression-tracking':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        operationId: campaign-thumbnail-update
        description: Campaign ID (Integer Id or hash ID)
    post:
      summary: Edit Campaign Impression Tracking Setting
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                allowImp:
                  x-stoplight:
                    id: qz7gwngmft8xy
                  enum:
                    - 0
                    - 1
                enableVta:
                  x-stoplight:
                    id: 36yd97q2bqpuw
                  enum:
                    - 0
                    - 1
                whitelistPubsVta:
                  type: array
                  description: |
                    integer id or hash id
                  items:
                    type: string
                    x-stoplight:
                      id: 2agsl8zj6x93t
                impressionUrl:
                  type: string
                  description: url
                  x-stoplight:
                    id: brq1o2d4ev5q8
                serverSideImpression:
                  x-stoplight:
                    id: 49ei05obwxx2b
                  enum:
                    - 0
                    - 1
                specificPubs:
                  x-stoplight:
                    id: 6u4ub3dj6ut93
                  enum:
                    - include
                    - exclude
                s2sPubs:
                  type: array
                  x-stoplight:
                    id: gzzi1qz1p0l47
                  description: integer id or hash id
                  items:
                    x-stoplight:
                      id: bb58hee4b25wg
                    type: string
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Campaigns
      security:
        - API Key Param: []
      description: ''
      x-stoplight:
        id: ortf12dkl390l
  /v2/campaigns/timelines:
    get:
      summary: Get Campaigns Timelines.
      tags:
        - Timelines
      operationId: campaigns-timelines
      description: |-
        Get Campaigns Timelines for a specified range of date.

        - ?start=2022-09-01&end=2022-12-21&page=1
      security:
        - API Key Param: []
      parameters:
        - schema:
            type: integer
          in: query
          name: page
          example: 2
        - schema:
            type: integer
            default: 100
          in: query
          name: limit
          example: 50
        - schema:
            type: string
            format: date
          in: query
          name: start
          example: '2022-09-01'
          description: Start Date should be in UTC
        - schema:
            type: string
            format: date
          in: query
          name: end
          example: '2022-09-01'
          description: End Date should be in UTC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: true
                  data:
                    type: object
                    properties:
                      changedCampaigns:
                        type: array
                        items:
                          $ref: ./models/campaign-timeline.v1.yaml
                      page:
                        type: integer
                required:
                  - page
                  - changedCampaigns
                  - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    default: false
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
  '/v2/trackingLink/{campId}/{pubId}':
    post:
      summary: Generate Tracking Link
      operationId: post-v2-trackingLink-campId-pubId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      x-stoplight:
        id: 4g5bk7ihgc1i5
      tags:
        - Campaigns
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  x-stoplight:
                    id: nqe5mzns1v98l
                prl:
                  type: string
                  x-stoplight:
                    id: t2g0hhic3qxhe
                url_id:
                  type: string
                  x-stoplight:
                    id: xkax8yspotbpg
                random_url:
                  x-stoplight:
                    id: wza04ij5ymcbp
                  enum:
                    - true
        description: ''
    parameters:
      - schema:
          type: string
        name: campId
        in: path
        required: true
        description: Campaign ID
      - schema:
          type: string
        name: pubId
        in: path
        required: true
        description: Publisher ID
  '/v2/campaigns/{id}/caps':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign ID
    get:
      summary: Find Campaign Caps
      tags:
        - Campaign Caps
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  caps:
                    type: array
                    items:
                      $ref: ./models/cap.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: caps-findAll
      description: Find caps for campaign
      security:
        - API Key Param: []
    post:
      summary: Create Campaign Cap
      operationId: cap-create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cap:
                    $ref: ./models/cap.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Campaign Caps
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cap'
      description: Create cap for a campaign
  '/v2/campaigns/{id}/caps/{capId}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign ID
      - schema:
          type: string
        name: capId
        in: path
        required: true
        description: Cap ID
    post:
      summary: Edit a Cap
      operationId: edit-campaign-cap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  cap:
                    $ref: ./models/cap.v1.yaml
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/cap.v1.yaml
        description: ''
      tags:
        - Campaign Caps
      description: Edit a campaign cap
    delete:
      summary: Delete a Cap
      operationId: delete-campaign-cap
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      security:
        - API Key Param: []
      tags:
        - Campaign Caps
      description: Delete a campaign cap
  '/v2/campaigns/{id}/lps':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign ID
    get:
      summary: FindAll landing pages
      tags:
        - Landing Pages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  landingPages:
                    type: array
                    items:
                      $ref: ./models/landingpage.v1.yaml
      operationId: landingpages-findAll
      security:
        - API Key Param: []
      description: Find all landing pages for a campaign
    post:
      summary: Create a Landing Page
      operationId: landingpage-create
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  landingPage:
                    $ref: ./models/landingpage.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      security:
        - API Key Param: []
      tags:
        - Landing Pages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandingPage'
        description: ''
      description: Create a landing page
  '/v2/campaigns/{id}/lps/{lpId}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: campaign id
      - schema:
          type: string
        name: lpId
        in: path
        required: true
        description: landing page id
    post:
      summary: Edit a Landing Page
      operationId: edit-landingPage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  landingPage:
                    $ref: ./models/landingpage.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Landing Pages
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandingPage'
      description: Edit a landing page
    delete:
      summary: Delete a Landing Page
      operationId: delete-landingPage
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Landing Pages
      security:
        - API Key Param: []
      description: Delete a landing page
  '/v2/campaigns/{id}/payouts':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign ID
    get:
      summary: Get Campaign Payouts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payouts:
                    type: array
                    items:
                      $ref: ./models/payout.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: get-v2-campaigns-id-payouts
      security:
        - API Key Param: []
      tags:
        - Payouts
      description: Get campaign payouts
    post:
      summary: Add new campaign payout
      operationId: post-v2-campaigns-id-payouts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payout:
                    $ref: ./models/payout.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payout'
        description: ''
      tags:
        - Payouts
      description: Add a new campaign payout
  '/v2/campaigns/{id}/payouts/{payoutId}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign ID
      - schema:
          type: string
        name: payoutId
        in: path
        required: true
        description: Payout ID
    post:
      summary: Edit a payout
      operationId: post-v2-campaigns-id-payouts-payoutId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  payout:
                    $ref: ./models/payout.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payout'
      tags:
        - Payouts
      description: Edit a campaign payout
    delete:
      summary: Delete a payout
      operationId: delete-v2-campaigns-id-payouts-payoutId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      security:
        - API Key Param: []
      tags:
        - Payouts
      description: Delete a campaign payout
  '/v2/campaigns/{id}/goals':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign ID
    get:
      summary: Get Campaign Goals
      tags:
        - Campaign Goal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  goals:
                    type: array
                    items:
                      $ref: ./models/goal.v1.yaml
      operationId: get-v2-campaigns-id-goals
      security:
        - API Key Param: []
      description: Get goals for a campaign
    post:
      summary: Create Campaign Goal
      operationId: post-v2-campaigns-id-goals
      responses:
        '200':
          description: OK
      tags:
        - Campaign Goal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoalCreate'
            examples: {}
      security:
        - API Key Param: []
      description: Create goal for a campaign goal
  '/v2/campaigns/{id}/goals/{goalId}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign ID
      - schema:
          type: string
        name: goalId
        in: path
        required: true
        description: Goal ID
    post:
      summary: Edit Campaign Goal
      operationId: post-v2-campaigns-id-goals-goalId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  goals:
                    type: array
                    items:
                      $ref: ./models/goal.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Campaign Goal
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoalEdit'
      description: Edit campaign goal
    delete:
      summary: Delete a campaign goal
      operationId: delete-v2-campaigns-id-goals-goalId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ''
      security:
        - API Key Param: []
      tags:
        - Campaign Goal
      description: Delete a campaign goal
  '/v2/campaigns/{campaignId}/postback-settings':
    parameters:
      - schema:
          type: string
        name: campaignId
        in: path
        required: true
        description: Campaign ID
    post:
      summary: Edit Campaign PostBack Setting
      operationId: edit-campaign-postback-setting
      tags:
        - Campaigns
      security:
        - API Key Param: []
      requestBody:
        description: 'Note: Array of BlacklistPostbackPubs and WhitelistPostbackPubs Will Replace The Old Values'
        content:
          application/json:
            schema:
              type: object
              properties:
                goals:
                  type: array
                  items:
                    type: object
                    properties:
                      goalId:
                        type: string
                        enum:
                          - default
                          - Goal Hash Id
                      blacklistPostbackPubs:
                        oneOf:
                          - type: array
                            items:
                              type: number
                          - type: array
                            items:
                              type: string
                              enum:
                                - all
                        description: ID's of Publisher
                      whitelistPostbackPubs:
                        type: array
                        items:
                          type: number
                        description: ID's of Publisher
            example:
              - goalId: default
                blacklistPostbackPubs:
                  - 13
                  - 14
                whitelistPostbackPubs:
                  - 14
                  - 15
              - goalId: 5f0be9f461770401a87a0016
                blacklistPostbackPubs:
                  - 13
                  - 14
                whitelistPostbackPubs:
                  - 14
                  - 15
              - goalId: 6202bcd5f42a00036d1e0755
                blacklistPostbackPubs:
                  - all
                whitelistPostbackPubs:
                  - 14
                  - 15
      description: Edit Campaign PostBack Setting
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sucess:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
  /v2/campaigns/categories:
    get:
      summary: Get all campaigns categories
      tags:
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: ./models/category.v1.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: ./models/error.v1.yaml
  /v2/campaigns/status:
    post:
      summary: Bulk Campaign Status Change
      operationId: post-v2-campaigns-status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: ./models/error.v1.yaml
      tags:
        - Campaigns
      description: Use this endpoint to change the status of multiple campaigns in one request
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignIds:
                  type: array
                  items:
                    oneOf:
                      - type: integer
                      - type: string
                status:
                  type: string
                  enum:
                    - active
                    - pending
                    - paused
                    - disabled
                    - expired
              required:
                - campaignIds
                - status
  /v2/campaigns/bulkEdit:
    post:
      summary: Bulk Campaign Edit
      operationId: post-v2-bulk-campaign-edit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    $ref: ./models/error.v1.yaml
      tags:
        - Campaigns
      description: 'Use this endpoint to change the status, visibility and currency of multiple campaigns in one request'
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                campaignIds:
                  type: array
                  items:
                    oneOf:
                      - type: integer
                      - type: string
                fields:
                  type: object
                  properties:
                    status:
                      type: string
                      enum:
                        - active
                        - pending
                        - paused
                        - disabled
                        - expired
                    vis:
                      type: string
                      enum:
                        - public
                        - private
                        - permission
                    currency:
                      type: string
                      description: 3 Letter Currency Code
              required:
                - campaignIds
                - fields
  /v2/invoices:
    get:
      summary: Get Invoices List
      tags:
        - Invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: ./models/invoices.v1.yaml
      parameters:
        - schema:
            type: string
          name: start
          in: query
          required: true
          description: YYYY-MM-DD
        - schema:
            type: string
          name: end
          in: query
          required: true
          description: YYYY-MM-DD
        - schema:
            type: string
            enum:
              - publisher
              - advertiser
          name: utype
          in: query
          required: true
          description: User Type
      operationId: get-v2-invoices-list
      security:
        - API Key Param: []
      description: Get Invoices list for publisher or advertiser.
    post:
      summary: Create Invoice
      operationId: post-v2-invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: string
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      tags:
        - Invoices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicesCreate'
      security:
        - API Key Param: []
      description: Create invoices for advertiser or publisher
  '/v2/invoices/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get Invoice By ID
      tags:
        - Invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      invoice:
                        $ref: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: get-v2-invoice-id
      description: Get Invoice by ID
      security:
        - API Key Param: []
    delete:
      summary: Delete Invoice
      operationId: delete-v2-invoice-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      description: Delete Invoice by ID
      security:
        - API Key Param: []
      tags:
        - Invoices
  /v2/invoices/preview:
    parameters:
      - schema:
          type: string
        name: user_id
        in: query
        required: true
        description: User hash ID
      - schema:
          type: string
        name: start
        in: query
        required: true
        description: YYYY-MM-DD
      - schema:
          type: string
        name: end
        in: query
        required: true
        description: YYYY-MM-DD
      - schema:
          type: string
          enum:
            - campaign
            - date_wise
            - month_wise
        name: prefType
        in: query
        required: true
        description: Preference Type
      - schema:
          type: string
          enum:
            - INR
            - USD
            - ...
        name: invCurrency
        in: query
        description: Invoice Currency
      - schema:
          type: boolean
        name: skipZeroPayouts
        in: query
        description: Skip Zero Payouts
      - schema:
          type: string
        name: payoutField
        in: query
        description: Custom Payout Field Name
    get:
      summary: Get Invoice Preview
      tags:
        - Invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: get-v2-invoice-preview
      description: Get Invoice Preview
      security:
        - API Key Param: []
      parameters: []
  '/v2/publishers/{id}/transactions':
    get:
      summary: Transactions & Payments
      tags:
        - Invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transactions:
                    type: array
                    items:
                      $ref: ./models/transaction.yaml
                  payments:
                    type: array
                    items:
                      $ref: ./models/payment.yaml
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: get-v2-transactions-&-payments
      description: Get Invoice Preview
      security:
        - API Key Param: []
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Publisher ID
  /v2/signupfields/publisher:
    get:
      summary: Publisher Signup Questions
      tags:
        - Manage Publishers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      type: object
                      properties:
                        options:
                          type: array
                          items:
                            type: string
                        label:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                        required:
                          type: boolean
                        id:
                          type: string
                        hide:
                          type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: get-v2-signupfields-publisher
      description: Get custom signup question fields for publisher
      security:
        - API Key Param: []
  /v2/signupfields/advertiser:
    get:
      summary: Advertiser SignUp Questions
      tags:
        - Manage Advertisers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      type: object
                      properties:
                        options:
                          type: array
                          items:
                            type: string
                        label:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                        required:
                          type: boolean
                        id:
                          type: string
                        hide:
                          type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: get-v2-signupfields-advertiser
      description: Get custom signup question fields for advertiser
      security:
        - API Key Param: []
  /v2/campaigns/access:
    get:
      summary: Find Campaign Access
      tags:
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessList:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        type:
                          type: string
                          enum:
                            - private
                            - permission
                        created:
                          type: string
                        campaign:
                          type: object
                          properties:
                            title:
                              type: string
                            status:
                              type: string
                            hashId:
                              type: string
                            id:
                              type: integer
                        publisher:
                          type: object
                          properties:
                            name:
                              type: string
                            company:
                              type: string
                            hashId:
                              type: string
                            id:
                              type: integer
                        campaignId:
                          type: string
                        publisherId:
                          type: string
                        status:
                          type: string
                          enum:
                            - approved
                            - pending
                            - denied
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: get-v2-campaigns-access
      description: |-
        Find private and permission required campaigns access list

        To see data for particular campaign or publishers use the filters query param like

        - &filters[campaignIds][]=34&filters[campaignIds][]=43
        - &filters[publisherIds][]=28
        - &filters[accessStatus]=pending
      security:
        - API Key Param: []
      parameters:
        - schema:
            type: array
          in: query
          name: filters
          description: Apply filters to see data for particular campaign or publishers
    post:
      summary: Update Campaign Access
      operationId: post-v2-campaigns-access
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      description: Bulk assign or remove publisher access to private or permission required campaigns
      security:
        - API Key Param: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                campaign_ids:
                  type: array
                  items:
                    type: integer
                publisher_ids:
                  type: array
                  items:
                    type: integer
                type:
                  type: string
                  enum:
                    - assign
                    - remove
                    - block
                    - unblock
              required:
                - campaign_ids
                - publisher_ids
                - type
            examples:
              example-1:
                value:
                  campaign_ids:
                    - 1
                    - 2
                  publisher_ids:
                    - 5
                    - 6
                  type: assign
        description: Body contains array of campaign ids and publisher ids
      tags:
        - Campaigns
  /v2/network/notifications:
    get:
      summary: Get Notifications
      tags:
        - Network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: ./models/notification.v1.yaml
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      $ref: ./models/error.v1.yaml
      operationId: get-v2-network-notificatoins
      description: Get Network notifications
      security:
        - API Key Param: []
      parameters:
        - schema:
            type: string
          in: query
          name: start
          description: Start date in YYYY-MM-DD format
        - schema:
            type: string
          in: query
          name: end
          description: End date in YYYY-MM-DD format
        - schema:
            type: integer
          in: query
          name: limit
[...]
