#vnative h1{
	padding: 0;
}
#vnative .menu-content img{
	width: 150px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
#vnative .redoc-wrap{
	width: 100%;
}
#vnative .redoc-wrap div:last-child{
	/*width: 100%;*/
}
#vnative .api-content{
	width:80%;
}
#vnative .menu-content{
	width: 20%
}
#vnative .description{
	display: block;
	margin-top: 10px;
}
@media (max-width: 85rem){
	#vnative div[data-section-id]{
		width:60%;
	}
	#vnative div[data-section-id="operation/campaigns"]{
		width:100%;
	}
	#vnative div[data-section-id="operation/campaigns"] *{
		width:inherit;
	}
	#vnative .jNfgsK{
		width:calc(60%);
	}
	#vnative .redoc-wrap>div:last-child{
		display: block;
	}
	#vnative .fLhGnD{
		width:calc(40%);
	}
	#vnative .iBZrxR{
		flex-direction: row;
	}
	#vnative .redoc-wrap div:last-child {
	    flex-direction: row;
	}
}