#vnative h1{
	padding: 0;
}
#vnative .menu-content img{
	width: 150px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
#vnative .redoc-wrap{
	width: 100%;
}
#vnative .redoc-wrap div:last-child{
	/*width: 100%;*/
}
#vnative .api-content{
	width:80%;
}
#vnative .menu-content{
	width: 20%
}